.country-detail {
    height: 90px;
    width: 90%;
    border-bottom: 1px solid lightgray;
    margin: auto;
    padding-bottom: 1em;
    margin-top: 2.8em;
    display: flex;
    justify-content: space-around;
}
.country-icon {
    display: flex;
    float: left;
    width: 10%;
    height: 100%;
    margin-left: 10px;
    align-items: center;
}


.cases-details {
    height: 100%;
    width: 72%;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.cases-box {
    margin: auto;
    width: 26%;
}


a {
    color: #1644ba;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.2rem;
}

p .yesterday {
    color: #b5b5b5;
    font-weight: 400;
    font-size: 1rem;
}

p strong {
    color: #3c3c3c;
}

@media screen and (max-width: 468px) {
    a {
        font-size: 1rem;
    }

    p .yesterday, p strong {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 380px) {
    a {
        font-size: 80%;
    }

    p .yesterday {
        font-size: 30%;
    }

    p strong {
        font-size: 70%;
    }
}

@media screen and (max-width: 320px) {
    a {
        font-size: 70%;
    }

    .yesterday {
        font-size: 80%;
    }
}