.Header-country {
    height: 70px;
    width: 90%;
    background: rgba(18, 98, 255, 0.8);
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.heading-info {
    margin-top: -1px;
    color: white;
    float: left;
    height: 100%;
    width: 22.5%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 1.2rem;
}
