/* .cases {
    display: flex;
} */
/* .cases div {
    margin: auto;
    width: 30%;
    height: 150px;
    background: rgb(59, 54, 54);
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
} */

/* @media screen and (max-width: 992px) {
    .cases {
        display: flex;
        flex-direction: column;
    }
    .cases div {
        margin: 10px auto;
        width: 80%;
    }
  } */